main {
  padding: 20px;
}
main h1 {
  color: rgb(73, 73, 73);
  text-align: center;
}
main section {
  box-shadow: 0 0 3px rgb(185, 185, 185);
}
main section div,
main section a {
  display: grid;
  grid-template-columns: 60px repeat(4, 1fr);
  justify-content: space-between;
  padding: 3px;
  padding-left: 10px;
}
main section div {
  background-color: rgb(218, 0, 65);
  border: 1px solid rgb(216, 216, 216);
  color: white;
  grid-template-areas: ". name gender birthday species";
}
main section div span:nth-of-type(1) {
  grid-area: name;
}
main section div span:nth-of-type(2) {
  grid-area: gender;
}
main section div span:nth-of-type(3) {
  grid-area: birthday;
}
main section div span:nth-of-type(4) {
  grid-area: species;
}
main section a {
  align-items: center;
  grid-template-rows: repeat(auto-fit, 40px);
  text-decoration: none;
  padding: 10px;
}
main section a:hover {
  background-color: rgb(230, 230, 230);
}
main section a:nth-of-type(even) {
  background-color: rgb(241, 241, 241);
}
main section a:nth-of-type(even):hover {
  background-color: rgb(214, 214, 214);
}
main section a span:nth-of-type(1) {
  border: 1px solid rgb(199, 199, 199);
  border-radius: 50%;
  height: 40px;
  width: 40px;
}
main section a span:nth-of-type(1).image {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
